APP_NAME="Telegram -> Yandex Migrator"
HTTP_PORT="8081"
PUBLIC_BASE_URL=""

SECRET_KEY="__GENERATED_SECRET_KEY__"
MAINTENANCE_MODE="false"

POSTGRES_DB="__GENERATED_POSTGRES_DB__"
POSTGRES_USER="__GENERATED_POSTGRES_USER__"
POSTGRES_PASSWORD="__GENERATED_POSTGRES_PASSWORD__"
DATABASE_URL="postgresql+psycopg://__GENERATED_POSTGRES_USER__:__GENERATED_POSTGRES_PASSWORD__@db:5432/__GENERATED_POSTGRES_DB__"

MAX_ARCHIVE_SIZE_MB="40960"
MAX_PARALLEL_JOBS="2"
MAX_PARALLEL_JOBS_PER_USER="1"
WORKER_POLL_INTERVAL="1"
ARCHIVE_RETENTION_HOURS="72"

YANDEX_API_BASE="https://botapi.messenger.yandex.net/bot/v1"
YANDEX_BOT_TOKEN=""

YANDEX_DISK_ENABLED="false"
YANDEX_DISK_API_BASE="https://cloud-api.yandex.net/v1/disk"
YANDEX_DISK_OAUTH_TOKEN=""
YANDEX_DISK_CLIENT_ID=""
YANDEX_DISK_CLIENT_SECRET=""
YANDEX_DISK_ROOT_REFERENCE=""
YANDEX_DISK_ORG_ID=""

SSO_ENABLED="false"
OIDC_SERVER_METADATA_URL=""
OIDC_CLIENT_ID=""
OIDC_CLIENT_SECRET=""
OIDC_SCOPE="openid profile email"

ADMIN_EMAILS=""
ADMIN_DOMAINS=""

LOCAL_ADMIN_LOGIN="__GENERATED_LOCAL_ADMIN_LOGIN__"
LOCAL_ADMIN_PASSWORD="__GENERATED_LOCAL_ADMIN_PASSWORD__"
